.voorbeeld-theme {
  --utrecht-space-around: 1;

  /* Component spacing tokens that aren't set in voorbeeld-theme */
  --utrecht-article-max-inline-size: 670px;
  --utrecht-heading-1-margin-block-start: 0;
  --utrecht-heading-1-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-3-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-paragraph-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-page-padding-inline-start: var(--voorbeeld-space-inline-pig);
  --utrecht-page-padding-inline-end: var(--voorbeeld-space-inline-pig);
  --utrecht-page-content-padding-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-page-content-padding-block-end: var(--voorbeeld-space-block-pig);
  --utrecht-page-content-padding-inline-start: 0;
  --utrecht-page-content-padding-inline-end: 0;
  --utrecht-page-footer-background-color: var(--voorbeeld-color-violet-700);
  --utrecht-page-footer-color: var(--voorbeeld-color-white);
  --utrecht-page-footer-padding-block-end: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-inline-end: var(--voorbeeld-space-inline-dog);
  --utrecht-page-footer-padding-inline-start: var(--voorbeeld-space-inline-dog);
  --utrecht-page-header-padding-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-page-header-padding-block-end: var(--voorbeeld-space-block-mouse);

  /* Custom component tokens */
  --voorbeeld-logo-icon-color: var(--voorbeeld-color-violet-700);
  --todo-page-header-content-max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
  --todo-page-header-padding-inline-start: var(--voorbeeld-space-inline-mouse);
  --todo-page-header-padding-inline-end: var(--voorbeeld-space-inline-mouse);
}

.voorbeeld-back-link {
  align-items: center;
  column-gap: 8px;
  display: inline-flex;
}

.voorbeeld-page-header {
  /* Design specific overwrite, these need to be set for page-content but we don't want them to work on the header */
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;

  border-block-end: 2px solid var(--voorbeeld-color-violet-700);
}

.todo-page-content {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.25);
}

.todo-page-header__content {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: var(--todo-page-header-content-max-inline-size);
  padding-inline-end: var(--todo-page-header-padding-inline-end);
  padding-inline-start: var(--todo-page-header-padding-inline-start);
}

.todo-page-footer__content {
  --utrecht-heading-2-color: currentColor;
  --utrecht-heading-2-font-family: var(--voorbeeld-typography-font-family-secondary);
  --utrecht-heading-2-font-size: var(--voorbeeld-typography-font-size-md);
  --utrecht-heading-2-font-weight: var(--voorbeeld-typography-font-weight-bold);
  --utrecht-heading-2-line-height: var(--voorbeeld-typography-line-height-lg);
  --utrecht-paragraph-color: white;

  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

.todo-footer-content-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-footer-content-block {
  max-inline-size: 50ch;
}

.todo-address {
  font-style: inherit;
  margin-block-end: 0;
  margin-block-start: 0;
}

@media screen and (width <= 960px) {
  .todo-footer-content-group {
    align-items: start;
    flex-direction: column;
    gap: 1em;
  }
}
