.voorbeeld-theme {
  --utrecht-space-around: 1;

  /* Amsterdam component tokens */
  --ams-grid-wide-column-count: 12;
  --ams-grid-medium-column-count: 12;
  --ams-grid-column-count: 12;

  /* Amsterdam Page Footer tokens */

  --ams-page-footer-menu-column-gap: 1em; /* test size */
  --ams-page-footer-menu-padding-block: 1em; /* test size */
  --ams-page-footer-menu-padding-inline: 1em; /* test size */
  --ams-page-footer-menu-row-gap: 0.5em; /* test size */
  --ams-page-footer-menu-medium-padding-inline: 1em; /* test size */
  --ams-page-footer-menu-wide-padding-inline: 1em; /* test size */
  --ams-page-footer-menu-link-color: var(--voorbeeld-color-white);
  --ams-page-footer-menu-hover-color: var(--voorbeeld-color-gray-100);

  /* --ams-page-footer-menu-link-font-family:;
  --ams-page-footer-menu-link-font-size:;
  --ams-page-footer-menu-link-font-weight:;
  --ams-page-footer-menu-link-outline-offset:;
  --ams-page-footer-menu-link-text-decoration-thickness:;
  --ams-page-footer-menu-link-text-underline-offset:;
  --ams-page-footer-menu-link-text-text-underline-offset:;
  --ams-page-footer-menu-hover-color:;
  --ams-page-footer-menu-hover-text-decoration-line:; */

  --ams-page-footer-spotlight-background-color: var(--voorbeeld-color-violet-700);

  /* Component spacing tokens that aren't set in voorbeeld-theme */
  --denhaag-sidenav-display: flex;
  --denhaag-sidenav-mobile-display: var(--denhaag-sidenav-display);
  --denhaag-sidenav-flex-direction: column;
  --denhaag-sidenav-row-gap: 24px;
  --utrecht-article-max-inline-size: 670px;
  --utrecht-button-group-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-form-field-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-form-label-font-weight: var(--voorbeeld-typography-font-weight-bold);
  --utrecht-heading-1-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-1-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-3-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-paragraph-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-page-padding-inline-start: var(--voorbeeld-space-inline-pig);
  --utrecht-page-padding-inline-end: var(--voorbeeld-space-inline-pig);
  --utrecht-page-content-padding-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-page-content-padding-block-end: var(--voorbeeld-space-block-pig);
  --utrecht-page-content-padding-inline-start: 0;
  --utrecht-page-content-padding-inline-end: 0;
  --utrecht-page-footer-background-color: var(--voorbeeld-color-violet-700);
  --utrecht-page-footer-color: var(--voorbeeld-color-white);
  --utrecht-page-footer-padding-block-end: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-inline-end: var(--voorbeeld-space-inline-dog);
  --utrecht-page-footer-padding-inline-start: var(--voorbeeld-space-inline-dog);
  --utrecht-page-header-padding-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-page-header-padding-block-end: var(--voorbeeld-space-block-mouse);
  --utrecht-link-list-icon-inset-block-start: 6px;

  /* Custom component tokens */
  --voorbeeld-logo-icon-color: var(--voorbeeld-color-violet-700);
  --todo-page-header-content-max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
  --todo-page-header-padding-inline-start: var(--voorbeeld-space-inline-mouse);
  --todo-page-header-padding-inline-end: var(--voorbeeld-space-inline-mouse);
}

.denhaag-theme {
  --utrecht-space-around: 1;
  --utrecht-article-max-inline-size: 670px;
  --todo-page-header-content-max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
  --todo-page-header-padding-inline-start: var(--voorbeeld-space-inline-mouse);
  --todo-page-header-padding-inline-end: var(--voorbeeld-space-inline-mouse);
  --utrecht-paragraph-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-1-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-1-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-2-margin-block-end: var(--voorbeeld-space-block-rabbit);
  --utrecht-heading-3-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-button-group-margin-block-start: var(--voorbeeld-space-block-rabbit);
  --utrecht-page-footer-padding-block-end: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-block-start: var(--voorbeeld-space-block-dog);
  --utrecht-page-footer-padding-inline-end: var(--voorbeeld-space-inline-dog);
  --utrecht-page-footer-padding-inline-start: var(--voorbeeld-space-inline-dog);
  --utrecht-page-header-padding-block-start: var(--voorbeeld-space-block-mouse);
  --utrecht-page-header-padding-block-end: var(--voorbeeld-space-block-mouse);
  --utrecht-page-padding-inline-start: var(--voorbeeld-space-inline-pig);
  --utrecht-page-padding-inline-end: var(--voorbeeld-space-inline-pig);
  --utrecht-page-content-padding-block-start: var(--voorbeeld-space-block-beetle);
  --utrecht-page-content-padding-block-end: var(--voorbeeld-space-block-dog);
  --utrecht-page-content-padding-inline-start: 0;
  --utrecht-page-content-padding-inline-end: 0;

  /* TEMP VOORBEELD SCALE */
  --voorbeeld-space-relation-onbemind: var(--voorbeeld-space-row-horse);
  --voorbeeld-space-relation-onbekenden: var(--voorbeeld-space-row-pig);
  --voorbeeld-space-relation-bekenden: var(--voorbeeld-space-row-cat);
  --voorbeeld-space-relation-vrienden: var(--voorbeeld-space-row-rat);
  --voorbeeld-space-relation-besties: var(--voorbeeld-space-row-snail);
  --voorbeeld-space-relation-kind: 0px;
  --voorbeeld-space-row-giraffe: 160px;
  --voorbeeld-space-row-elephant: 96px;
  --voorbeeld-space-row-horse: 64px;
  --voorbeeld-space-row-tiger: 48px;
  --voorbeeld-space-row-pig: 32px;
  --voorbeeld-space-row-dog: 28px;
  --voorbeeld-space-row-cat: 24px;
  --voorbeeld-space-row-rabbit: 20px;
  --voorbeeld-space-row-rat: 16px;
  --voorbeeld-space-row-mouse: 12px;
  --voorbeeld-space-row-snail: 8px;
  --voorbeeld-space-row-beetle: 4px;
  --voorbeeld-space-row-ant: 2px;
  --voorbeeld-space-row-flea: 1px;
  --voorbeeld-space-column-giraffe: 160px;
  --voorbeeld-space-column-elephant: 96px;
  --voorbeeld-space-column-horse: 64px;
  --voorbeeld-space-column-tiger: 48px;
  --voorbeeld-space-column-pig: 32px;
  --voorbeeld-space-column-dog: 28px;
  --voorbeeld-space-column-cat: 24px;
  --voorbeeld-space-column-rabbit: 20px;
  --voorbeeld-space-column-rat: 16px;
  --voorbeeld-space-column-mouse: 12px;
  --voorbeeld-space-column-snail: 8px;
  --voorbeeld-space-column-beetle: 4px;
  --voorbeeld-space-column-ant: 2px;
  --voorbeeld-space-column-flea: 1px;
  --voorbeeld-space-text-dog: 24px;
  --voorbeeld-space-text-cat: 16px;
  --voorbeeld-space-text-rabbit: 14px;
  --voorbeeld-space-text-rat: 12px;
  --voorbeeld-space-text-mouse: 8px;
  --voorbeeld-space-text-snail: 6px;
  --voorbeeld-space-text-beetle: 4px;
  --voorbeeld-space-text-ant: 2px;
  --voorbeeld-space-text-flea: 1px;
  --voorbeeld-space-block-pig: 64px;
  --voorbeeld-space-block-dog: 48px;
  --voorbeeld-space-block-cat: 32px;
  --voorbeeld-space-block-rabbit: 24px;
  --voorbeeld-space-block-rat: 20px;
  --voorbeeld-space-block-mouse: 16px;
  --voorbeeld-space-block-snail: 12px;
  --voorbeeld-space-block-beetle: 8px;
  --voorbeeld-space-block-ant: 4px;
  --voorbeeld-space-block-flea: 2px;
  --voorbeeld-space-inline-pig: 48px;
  --voorbeeld-space-inline-dog: 32px;
  --voorbeeld-space-inline-cat: 28px;
  --voorbeeld-space-inline-rabbit: 24px;
  --voorbeeld-space-inline-rat: 20px;
  --voorbeeld-space-inline-mouse: 16px;
  --voorbeeld-space-inline-snail: 12px;
  --voorbeeld-space-inline-beetle: 8px;
  --voorbeeld-space-inline-ant: 4px;
  --voorbeeld-space-inline-flea: 2px;
}

.voorbeeld-back-link {
  align-items: center;
  column-gap: 8px;
  display: inline-flex;
}

.voorbeeld-data-list-item {
  border-block-end-color: var(--voorbeeld-color-gray-200);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  display: block;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-padding-after: var(--voorbeeld-space-block-mouse);
  -webkit-padding-before: var(--voorbeeld-space-block-mouse);
  padding-block-end: var(--voorbeeld-space-block-mouse);
  padding-block-start: var(--voorbeeld-space-block-mouse);
}

.voorbeeld-page-header {
  /* Design specific overwrite, these need to be set for page-content but we don't want them to work on the header */
  --utrecht-page-padding-inline-start: 0;
  --utrecht-page-padding-inline-end: 0;

  border-block-end: 2px solid var(--voorbeeld-color-violet-700);
}

.todo-page-content {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.25);
}

.todo-page-header__content {
  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: var(--todo-page-header-content-max-inline-size);
  padding-inline-end: var(--todo-page-header-padding-inline-end);
  padding-inline-start: var(--todo-page-header-padding-inline-start);
}

/* FOOTER */

.todo-page-footer__content {
  --utrecht-heading-2-color: var(--voorbeeld-color-white);
  --utrecht-heading-2-font-family: var(--voorbeeld-typography-font-family-secondary);
  --utrecht-heading-2-font-size: var(--voorbeeld-typography-font-size-md);
  --utrecht-heading-2-font-weight: var(--voorbeeld-typography-font-weight-bold);
  --utrecht-heading-2-line-height: var(--voorbeeld-typography-line-height-lg);

  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

.ams-page-footer__spotlight {
  --ams-page-footer-menu-link-color: var(--voorbeeld-color-white);
  --ams-page-footer-menu-hover-color: var(--voorbeeld-color-gray-100);
  --utrecht-heading-2-color: var(--voorbeeld-color-white);
  --utrecht-heading-2-padding-start: 2em;
  --utrecht-paragraph-color: var(--voorbeeld-color-white);
  --utrecht-link-color: var(--voorbeeld-color-white);
  --utrecht-link-hover-color: var(--voorbeeld-color-gray-100);

  background-color: var(--ams-page-footer-spotlight-background-color);
  color: var(--voorbeeld-color-white);
  padding-block-end: 1em;
  padding-block-start: 2em;
}

.ams-page-footer__spotlight * {
  color: var(--voorbeeld-color-white);
}

.ams-page-footer__spotlight .utrecht-url-data {
  color: var(--voorbeeld-color-white);
}

.ams-page-footer__spotlight svg {
  fill: var(--voorbeeld-color-white);
  stroke: var(--voorbeeld-color-white);
}

.todo-footer-link-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.todo-address {
  font-style: inherit;
  margin-block: 0;
}

/* REST */

.todo-form-field {
  display: flex;
  flex-direction: column;
}

.todo-profile-page-content {
  flex-grow: 1;
}

.todo-profile-page-layout {
  display: flex;
  flex-direction: row;
  padding-block-start: var(--voorbeeld-space-block-cat);
  padding-inline-start: var(--voorbeeld-space-inline-beetle);
}

/* MEDIA QUERIES */

@media screen and (width <= 960px) {
  .todo-page-footer__content {
    /* seems like a hacky way but works */
    --ams-grid-column-count: 1;
  }
}
