.todo-page-footer__spotlight {
  --utrecht-heading-4-color: var(--todo-page-footer-heading-color);
  --utrecht-heading-4-margin-block-end: var(--voorbeeld-space-block-beetle);
  --utrecht-paragraph-color: var(--todo-page-footer-color);
  --utrecht-link-color: var(--todo-page-footer-color);
  --utrecht-link-hover-color: var(--todo-page-footer-color);

  background-color: var(--ams-page-footer-spotlight-background-color);
  color: var(--todo-page-footer-color);
  padding-block-end: 1em;
  padding-block-start: 2em;
}

.todo-page-footer__grid {
  --utrecht-heading-2-color: var(--voorbeeld-color-white);
  --utrecht-heading-2-font-family: var(--voorbeeld-typography-font-family-secondary);
  --utrecht-heading-2-font-size: var(--voorbeeld-typography-font-size-md);
  --utrecht-heading-2-font-weight: var(--voorbeeld-typography-font-weight-bold);
  --utrecht-heading-2-line-height: var(--voorbeeld-typography-line-height-lg);

  margin-inline-end: auto;
  margin-inline-start: auto;
  max-inline-size: calc(var(--utrecht-article-max-inline-size) * 1.5);
}

@media screen and (width <= 1087px) {
  .todo-grid-cell__hide-on-medium {
    display: none;
  }
}
